<h3>Adcioanar Subitem</h3>
<form [formGroup]="subItenForm" (ngSubmit)="submitFormSubitens()" novalidate>
    <div>
        <label>Nome do Subitem: </label>
        <input type="text" formControlName="name" maxlength="20">
    </div>
    <button type="submit">Adicionar</button>
</form>

<h3>Subitens Salvos</h3>
<table>
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome</th>
            <th scope="col">Ação</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let subiten of SubItensList">
            <th scope="row">{{subiten.id}}</th>
            <td>{{subiten.name}}</td>
            <td>
                <button type="button" [routerLink]="['/edit-subitens/', subiten.id]">Editar</button>
                <button type="button" (click)="deleteSubIten(subiten)">Remover</button>
            </td>
        </tr>
    </tbody>
</table>

<h3>Item de um Subitem</h3>


<p>ID do Subitem: </p>
<input type="text" [(ngModel)]="SubitenID"/>
<button (click)="submitFormItensSubitens()">Listar</button>

<div *ngFor="let ItenFiltred of ItensListFiltred">
    <p>{{ItenFiltred}}</p>
</div>